<section class="hero">
	<!-- note: no section top -->
	<div class="hero-image in-page" style="background: url(<%= asset_path 'arch_hero_image.jpg' %>) no-repeat center / cover">
		<h3>Arch</h3>
		<p>Preserve and Share Your Research</p>
		<ul class="center-list">
			<li>
        <% if @presenter.display_share_button? %>
            <% if signed_in? %>
              <% if create_work_presenter.many? %>
                <%= link_to '#', class: "btn", data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
                  <%= t('hyrax.share_button') %>
                <% end %>
              <% else # simple link to the first work type %>
                <%= link_to new_polymorphic_path([main_app, create_work_presenter.first_model]),
                  class: 'btn' do %>
                  <%= t('hyrax.share_button') %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to hyrax.dashboard_index_path, class: "btn" do %>
                <%= t('hyrax.share_button') %>
              <% end %>
            <% end %>
        <% end %>
      </li>
		</ul>
	</div>
</section>
