<section id="featured_container" class="contain-1120">
  <%= render template: 'nu_partials/arch_callout.html.erb' %>

  <!-- Recently Uploaded section-->
  <!-- Bypass June 2017 Hyrax build -->
  <!--
  <h3><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h3>
  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  -->
</section>


<section>
  <!-- section top here -->
  <div class="photo-feature-3-across">
    <article class="photo-feature">
      <a href="catalog?_=1507647986237&f%5Bresource_type_sim%5D%5B%5D=Research+Paper&locale=en&view=list">
        <div class="front" style="height: auto; display: block;">
          <%= image_tag('stock-research.jpg') %>
          <div class="text-over-image">
            <h4>Research</h4>
            <p class="link">Learn more</p>
          </div>
        </div>
      </a>
    </article>
    <article class="photo-feature">
      <a href="catalog?_=1507648447398&f%5Bresource_type_sim%5D%5B%5D=Dataset&locale=en&view=list">
        <div class="front" style="height: auto; display: block;">
          <%= image_tag('stock-data-sets.jpg') %>
          <div class="text-over-image">
            <h4>Data Sets</h4>
            <p class="link">Learn more</p>
          </div>
        </div>
      </a>
    </article>
    <article class="photo-feature">
      <a href="catalog?_=1507648447398&f%5Bhuman_readable_type_sim%5D%5B%5D=Collection&locale=en&view=list">
        <div class="front" style="height: auto; display: block;">
          <%= image_tag('stock-collections.jpg') %>
          <div class="text-over-image">
            <h4>Collections</h4>
            <p class="link">Learn more</p>
          </div>
        </div>
      </a>
    </article>
  </div>
</section>
