<section class="hero">
	<!-- note: no section top -->
	<div class="hero-image in-page" style="background:url(<%= asset_path 'arch-hero-bg-antenna.jpg' %>) no-repeat left center / cover;">
		<h3>Share Your Scholarship</h3>
		<p>Research and Data Repository</p>
		<ul class="center-list">
			<li>
        <% if @presenter.display_share_button? %>
            <% if signed_in? %>
              <% if create_work_presenter.many? %>
                <%= link_to '#', class: "button", data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
                  <%= t('hyrax.buttons.get_started') %>
                <% end %>
              <% else # simple link to the first work type %>
                <%= link_to new_polymorphic_path([main_app, create_work_presenter.first_model]),
                  class: 'button' do %>
                  <%= t('hyrax.buttons.get_started') %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to hyrax.dashboard_index_path, class: "button" do %>
                <%= t('hyrax.buttons.get_started') %>
              <% end %>
            <% end %>
        <% end %>
      </li>
		</ul>
	</div>
</section>
