<li>
  <%= link_to '/concern/generic_works/new' do %>
    <%= t('hyrax.share_button') %>
  <% end %>
</li>
<li><%= link_to t('Browse'), main_app.search_catalog_path %></li>
<li><%= link_to t(:'hyrax.controls.about'), hyrax.about_path %></li>
<li><%= link_to t(:'hyrax.controls.help'), hyrax.help_path %></li>
<li><%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path %></li>
