<header>
    <div id="top-bar">
        <div class="contain-1120">
            <div id="left">
                <a href="http://www.northwestern.edu/"><img src="https://common.northwestern.edu/v8/css/images/northwestern.svg" alt="Northwestern University" /><span class="hide-label">Northwestern University</span></a>
            </div>
            <div id="mobile-links">
                <a href="#mobile-search" class="mobile-link mobile-search-link"><span class="hide-label">Search</span></a>
                <div id="mobile-search">
                  <%= render partial: 'catalog/search_form' %>
                </div>
                <a href="#mobile-nav" class="mobile-link mobile-nav-link"><span class="hide-label">Menu</span></a>
                <nav id="mobile-nav">
                    <ul aria-label="main menu" tabindex="-1">
                        <li class="active"><a href="<%= main_app.search_catalog_path %>">Browse</a></li>
                        <li class="active"><a href="<%= sufia.about_path %>">About</a></li>
                        <li class="active"><a href="<%= main_app.help_path %>">Help</a></li>
                        <li class="active"><a href="<%= sufia.contact_path %>">Contact</a></li>
                    </ul>
                    <div id="mobile-nav-bottom">
                        <%= render partial: '/toolbar_mobile' %>
                    </div>
                </nav>
            </div>

            <%= render partial: '/user_util_links' %>
        </div>
    </div>
	<div class="bottom-bar contain-1120">
	   <div id="department">
        <h1><a href="<%= sufia.root_path %>"><strong>LIBRARIES | Arch</strong></a></h1>
		</div>
    <div id="search" class="hide-mobile">
      <%= render partial: 'catalog/search_form' %>
    </div>
    <!-- <div id="search" class="hide-mobile">
      <div class="search-form">
        <form action="http://googlesearch.northwestern.edu/search">
            <label for="q-desktop" class="hide-label">Search this website</label>
            <input type="text" id="q-desktop" name="q" placeholder="Search" />
            <input type="hidden" value="default_collection" name="site" />
            <input type="hidden" value="default_oneboxes" name="client" />
            <input type="hidden" value="xml_no_dtd" name="output" />
            <input type="hidden" value="http://admissions.northwestern.edu" name="sitesearch" />
            <input type="hidden" value="Undergraduate Admissions" name="sitetitle">
            <input type="hidden" value="default_oneboxes" name="proxystylesheet" />
            <button type="submit"><span class="hide-label">Search</span></button>
        </form>
      </div>
    </div> -->
  </div>
</header>
