<!-- links from #top-bar #right -->
<ul id="mobile-nav-bottom-left">
  <% if user_signed_in? %>
    <% if can? :manage, :all %>
      <li><i class="fa fa-gear"></i>Admin</li>
      <li><%= link_to 'Manage Roles', role_management.roles_path %></li>

      <% if respond_to? :admin_stats_path %>
        <li><%= link_to 'Repository Statistics', sufia.admin_stats_path %></li>
      <% end %>

      <% if respond_to? :admin_queues_path %>
        <li><%= link_to 'Message Queues', sufia.admin_queues_path %></li>
      <% end %>
    <% end %>

    <li><i class="fa fa-tachometer"></i>Dashboard</li>
    <li><%= link_to 'My Dashboard', sufia.dashboard_index_path %></li>
    <li>
      <%= link_to sufia.notifications_path do %>
        Notifications
        <%= render partial: 'users/notify_number' %>
      <% end %>
    </li>
    <li><%= link_to 'Transfers', sufia.transfers_path %></li>

    <li><%= link_to 'Highlights', sufia.dashboard_highlights_path %></li>
    <li><%= link_to 'Shares', sufia.dashboard_shares_path %></li>
  <% else %>
    <li>
      <%= link_to main_app.new_user_session_path do %>
        <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>Login
      <% end %>
    </li>
  <% end %>
</ul>

<!-- links under "resources" in #top-bar #right .dropdown -->
<ul id="mobile-nav-bottom-right">
  <% if can? :create, GenericWork %>
    <li><i class="fa fa-cube"></i>Works</li>
    <li><%= link_to 'My Works', sufia.dashboard_works_path %></li>
    <li><%= link_to 'New Work', main_app.new_curation_concerns_generic_work_path %></li>
    <li><%= link_to t("sufia.toolbar.works.batch"),
                    sufia.new_batch_upload_path(payload_concern: create_work_presenter.first_model) %></li>
  <% end %>

  <% if can?(:create, Collection) %>
    <li class="mobile-sub-nav-header"><i class="fa fa-cubes"></i>Collections</li>
    <li><%= link_to 'My Collections', sufia.dashboard_collections_path %></li>
    <li><%= link_to 'New Collection', main_app.new_collection_path %></li>
  <% end %>
</ul>
