<% provide :page_title, @presenter.page_title %>
<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
    </header>

    <!-- Hide workflow states until styled a la visibility state. See isse #291. -->
    <span class="hidden state state-<%= @presenter.workflow.state %>"><%= @presenter.workflow.state_label %></span>

  </div>
  <div class="col-sm-8">
    <%= render 'work_description', presenter: @presenter %>

    <%# Hide Hyrax's "Relationships" table if no relationships exist %>
    <%# https://github.com/nulib/institutional-repository/issues/300 %>
    <% if (!@presenter.member_of_collection_presenters.blank?) %>
      <%= render 'relationships', presenter: @presenter %>
    <% end %>

    <%= render 'metadata', presenter: @presenter %>
  </div>
  <div class="col-sm-4">
    <%= t('.last_modified', value: @presenter.date_modified) %>
    <%= render 'representative_media', presenter: @presenter %>
    <% if (@presenter.public_member_presenters.any?) %>
      <div class="show-actions"><%= link_to("Download All Files (.zip)".html_safe, '', data: { 'download-deriv-type': 'zip', 'download-whole-work-deriv': @presenter.id}, class: 'btn btn-default') %></div>
    <% end %>
    <%= render 'social_media' %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'items', presenter: @presenter %>
    <%= render 'workflow_actions_widget', presenter: @presenter %>
    <%# TODO: we may consider adding these partials in the future %>
    <%#= render 'sharing_with', presenter: @presenter %>
    <%#= render 'user_activity', presenter: @presenter %>
  </div>
</div>